$codes_color: rgb(39, 21, 21);

.code{
    background-color: black;
    font-family: consolas;
    font-size: 15px;
    color: lightseagreen;
    padding: 5px;
    border: solid 1px whitesmoke;
    border-radius: 5px;
}
body{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
}